*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
html{
    
}
.inicio-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: #f8f9fa;
    margin-bottom: 40px;
    font-family: 'Roboto', sans-serif;
}

.inicio-container img {
    margin-right: 0px;
    max-width: 100%;
    max-height: 100%;
    height:50px ;
    width: 50px;
    margin-right: 0px;
}
a.estilo {
    text-decoration: none; 
    color: inherit;
    transition: color 1s ease;
}

a.estilo:hover {
    color: gold;
}
.SantoRosario {
    margin-right: 20px;
    margin-left: 0px;
    padding-left: 0px;
    text-align: left;
}
.laslistas-container {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
    margin-right: 15px;
    margin-left:0px ;
    gap: 32px;
}
.laslistas-container li {
    margin-left: 20px;
    
}
.laslistas-container a{
    font-size: 18px;
    color: black;
    padding-block: 16px;
}
.principio{
    height: calc(100vh - 20vh);
    background-position: center;
    background-size:cover ;
    background-repeat:no-repeat; 
    background-image: url("imagens/background.jpg");
}
.introdutio-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
}
.introdu-container{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 5px;
}
.int-container{
    text-align: center;
    justify-content: center;
    margin-bottom: 5px;
    font-size: 20px;
    max-width: 1000px;
}
.hist-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
}
.history-container{
    text-align: center;
justify-content: center;
   margin-bottom: 5px;
}
.histo-container{
    text-align: center;
    justify-content: center;
    margin-bottom: 5px;
    font-size: 20px;
    max-width: 1000px;
}

.rezar-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
}
.comum-container{
    text-align: center;
justify-content: center;
   margin-bottom: 5px;
}
.oram-container{
    text-align: center;
    justify-content: center;
    margin-bottom: 5px;
    font-size: 20px;
    max-width: 1000px;
}
.tercum-container{
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
.tercum-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
}
.tert-container{
    text-align: center;
justify-content: center;
   margin-bottom: 5px;
   
}
.terco-container{
    text-align: center;
   justify-content: center;
   margin-bottom: 20px;
   max-width: 1000px;
   font-size: 20px;
}
.mistery-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px; 
    font-size: 20px;
}
    .mistery-container h3 {
     margin: 10px 0; /* Espaçamento entre os <h3> */
}
    .mistery-container p {
    max-width: 600px; /* Limita a largura dos parágrafos para melhor legibilidade */

}
.finale-container{
    text-align: center;
}
footer{
    background-color: gold;
    margin-top: 20px;
}
