* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
html {
    height: 100%;
}
body {
    font-family: 'Roboto', sans-serif;
    height: 100%;
}
.inicio-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: #f8f9fa;
    margin-bottom: 40px;
}
.inicio-container img {
    height: 50px;
    width: 50px;
}
a.estilo {
    text-decoration: none; 
    color: inherit;
    transition: color 1s ease;
}
a.estilo:hover {
    color: gold;
}
.SantoRosario {
    margin-right: 20px;
}
.laslistas-container {
    list-style: none;
    display: flex;
    gap: 32px;
}
.hamburger-menu {
    display: none;
    font-size: 24px;
    cursor: pointer;
}
@media (max-width: 768px) {
    .laslistas-container {
        display: none;
    }
    .hamburger-menu {
        display: block;
    }
}
.overlay {
    position: fixed;
    top: 0;
    right: -100%;
    width: 300px;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    transition: right 0.3s ease;
    z-index: 1000;
}
.overlay.open {
    right: 0;
}
.menu-content {
    padding: 20px;
}
.menu-content ul {
    list-style: none;
}
.menu-content li {
    margin: 20px 0;
}
.menu-content a {
    text-decoration: none;
    color: white;
    font-size: 18px;
}
.principio {
    height: calc(100vh - 20vh);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("imagens/background.jpg");
}
.introdutio-container, .hist-container, .rezar-container, .tercum-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
}
.int-container, .histo-container, .oram-container, .terco-container, .mistery-container p {
    text-align: center;
    justify-content: center;
    margin-bottom: 5px;
    font-size: 20px;
    max-width: 1000px;
}
.mistery-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
}
.mistery-container h3 {
    margin: 10px 0;
}
.finale-container {
    text-align: center;
}
footer {
    background-color: gold;
    margin-top: 20px;
}
